.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Righteous', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #6ba26d;
}

p {
  font-size: 2rem;
  color: #6ba26d;
  font-family: 'Righteous', cursive;
}

img {
  width: 80%;
}

.play_btn{
  color: rgb(56, 61, 58);
  background-color: #6ba26d;;
  width: 200px;
  height: 50px;
  opacity: 5;
  transition: transform 0.4s ease-in-out;
  margin: 50px;
  border-radius: 10px;
  cursor: pointer;
  font-family: 'Righteous', cursive;
  text-shadow: 5px;
  font-size: 1rem;
  outline: none;
}

.play_btn:hover{
  transform: scale(1.2);

}

.play_btn:focus{
  outline: none;
}
footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Righteous', cursive;
}

@media all and (max-width: 780px) {
  h1{
    font-size: 30px;
  }
  p{
    font-size: 16px;
  }
}